body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #fcd6d9;
    color: #333;
    text-align: center;
    padding: 20px;
}

header h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #682050;
}

h2 {
    text-transform: uppercase;
    font-size: 1.6em;
    color: #682050;
    border-bottom: 2px solid #fcd6d9;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Toggle button styles */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
}

.menu-toggle:hover {
    background: rgba(254, 65, 254, 0.221);
    border-radius: 30%;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #682050;
    margin: 5px 0;
    transition: 0.4s;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
        width: 100%;
        text-align: center;
    }

    nav.collapsed ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        display: block;
        padding: 10px;
        margin: 5px 0;
        color: #fff;
    }

    .menu-toggle {
        display: block;
    }
}



nav {
    background-color: #f7f7f7;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff66a2;
}


main {
    flex: 1;
    padding: 1.25rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.project {
    text-align: center;
}

.project img {
    /* visibility: hidden; */
    width: 100%;
    max-height: 400px;
    max-width: 300px;
    margin-top: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0.625rem;
}

.project a {
    text-decoration: none;
    color: #333;
}

.project a:hover {
    color: #ff66a2;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 600px) {
    main {
        padding: 1rem;
    }

    .project-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

footer {
    background-color: #fcd6d9;
    color: #333;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.top-link {
    float: right;
}

article>a {
    text-decoration: none;
    transition: 0.4s;
    color: #682050;
}

article>a:hover {
    color: #ff66a2;
}